*{
    box-sizing: border-box;
    background: #563657;
}

h1 {
    text-align: center;
    color: blueviolet;
}

p {
    color: white;
}

.text {
    color:blueviolet;
    font-size: 16px; 
}

main{
    display:flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

h2 {
    width: 300px;
    border: 5px solid white;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

h3 {
    text-align: center;
    color: blueviolet;
}

section{
    width: 30%;
    border: 5px solid white;
    margin-top: 5%;
    border-style: dotted;
    padding: 5px;
    margin: 20 px;
    color: blueviolet;
}

pre {
    font-size: 12px;
    margin: 50;
        inline-size: 100px;
}

.row {
    display:flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

/* .column {
    display: flex;
    flex-direction: column;
    flex: 50%;
} */

/* .grid {
    display:grid;
    width: 100%;
    grid-template-columns: repeat (12, 1fr);
} */

.linear-gradient-background {
    background-image: linear-gradient(
        rgba(232, 102, 236, 0.3) 0%,
        rgba(232, 102, 236, 0.6) 100%
    )
}

.code-card .card-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px 0px 8px (blue), 0 0 15px (red);
}/*changes above*/

.code-card:hover,
.code-card:hover .card-header {
    box-shadow: inset 0px 0px 8px
    rgba(232, 102, 236, 1), 00 15px
    rgba(232, 102, 236, 1);
}

.card-header {
    position: relative;
    margin-top: -20px;
}

.space-around {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

/*
@media (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }*/